/* DETTA ÄR FÖR SKOJ SKULL :) */
body {
  margin: 0;
  padding: 0;
  background-color: #e9ecef;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}